@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import "header.css";
@import "footer.css";
@import "indexStyles.css";
@import "blogPostStyles.css";

body {
	background-color: #FEFDFC;
}

.page-container {
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100vh;
}

.divider {
	padding-right: 8em;
	padding-left: 8em;
}

a:hover {
  color: #EDAF4B;
}

h1 { 
	font-size: 1.8em;
}

h2 { 
	font-size: 1.5em;
}

h3 { 
	font-size: 1.17em;
}

h4 { 
	font-size: 1.12em;
}


/* Responsiveness */
img {
  width: 100%;
  height: 100%;
}


@media (max-width: 576px){
	h1 { 
		font-size: 1.2em;
	}

	h2 { 
		font-size: .83em;
	}

	h3 { 
		font-size: .75em;
	}

	h4 { 
		font-size: .5em;
	}
}